<h3>Patient - <%= @patient.name %></h3>

<% @patient.appointments.each do |app| %>
  <ul>
    <li>Appointment: <%= app.appointment_date %></li>
    <li>Doctor: <%= link_to app.doctor.name, doctor_path(app.doctor) %>
  </ul>
<% end %>